:root {
    --bg-color: #0E1113;
    --bg-sec: #2A3236;
    --bg-focus: #333D42;
    --bg-active: #3D494E;

    --search-focus: #181C1F;

    --text-color: #ffffff;

    --brand-color: #FF5700;
    --brand-subcolor: #FF4500;

    --upvote: #FF8b60;
    --neutral: #C6C6C6;
    --downvote: #9494FF;

    --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    overflow: hidden;
}

.main_topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 8dvh;
    background-color: var(--bg-color);

    .logo {
        margin-left: 15px;
        height: 100%;
    }

    .search_bar {
        transition: 0.2s;

        background-color: var(--bg-color);
        border-radius: 25px;
        border: 2px var(--brand-subcolor) solid;
        font-family: var(--main-font);

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        width: 30%;
        height: 60%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);

        div {
            height: 90%;
            width: 90%;
            position: relative;
            margin-top: 0;

            display: flex;
            align-items: center;

            input {
                transition: 0.2s;

                height: 85%;
                width: 90%;
                border-radius: 25px;
                overflow: hidden;
                border-style: hidden;

                background-color: transparent;
                outline: none;

                text-indent: 5px;
                text-align: start;
                color: white;
                font-family: var(--main-font);

                &:focus {
                    transition: 0.2s;
                    text-indent: 10px;
                }
            }

            .search_button {
                transition: 0.2s;

                aspect-ratio: 1/1;
                height: 65%;

                margin-left: 2.5%;
                background-color: transparent;

                background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Search_icon.svg/3840px-Search_icon.svg.png");
                background-position: center;
                background-size: 90%;
                background-repeat: no-repeat;

                border-style: none;
                cursor: pointer;

                &:active {
                    transition: 0.1s;
                    background-size: 70%;
                }
            }
        }

        .search_logo {
            position: relative;
            aspect-ratio: 1/1;
            height: 85%;

            margin-right: 5px;

            border-radius: 50%;
        }

        &:hover {
            transition: 0.2s;
            background-color: var(--search-focus);

            border: 2px var(--brand-color) solid;
        }
    }

    .profile_button {
        transition: 0.2s;
        background-color: transparent;

        position: absolute;
        right: 25px;
        aspect-ratio: 1/1;
        top: 12.5%;
        height: 75%;

        border-radius: 50px;
        border-style: hidden;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .profile_pfp {
            transition: 0.2s;
            width: 100%;
            aspect-ratio: 1/1;

            border-radius: 50px;

            border: 5px transparent solid;
        }

        &:hover {
            transition: 0.2s;

            .profile_pfp {
                transition: 0.2s;
                border: 4px var(--brand-color) solid;
            }
        }

        &:active {
            transition: 0.2s;

            .profile_pfp {
                transition: 0.1s;
                border: 7px var(--brand-subcolor) solid;
            }
        }
    }
}

.main_sidebar_left {
    position: absolute;
    top: 8dvh;
    left: 0;
    height: 92dvh;
    width: 20dvw;
    background-color: var(--bg-color);

    border-top: 3px var(--bg-sec) solid;

    display: flex;
    justify-content: center;
}

.main_sidebar_right {
    position: absolute;
    top: 8dvh;
    right: 0;
    height: 92dvh;
    width: 20dvw;
    background-color: var(--bg-color);

    border-top: 3px var(--bg-sec) solid;
}

.left_login_info {
    background-color: #07080a;
    height: 95%;
    width: 95%;

    margin-top: 8px;
    border-radius: 10px;
    font-family: var(--main-font);
    color: var(--text-color);
    text-align: center;

    button {
        position: relative;
        font-size: 0.95rem;
        border-radius: 15px;
        width: 90%;
        height: 2.35rem;
        padding: 8px 2px 8px 2px;
        margin-bottom: 5px;
        border: var(--text-color);
        background-color: var(--text-color);
        color: var(--bg-color);

        cursor: pointer;
    }
}

.main_content {
    position: absolute;
    top: 8dvh;
    left: 20dvw;
    height: 92dvh;
    width: 80dvw;
    background-color: var(--bg-color);

    border-top: 3px var(--bg-sec) solid;
    border-left: 3px var(--bg-sec) solid;

    display: flex;
    justify-content: center;

    .content_center::-webkit-scrollbar {
        display: none;
    }

    .content_center {
        position: relative;
        overflow-y: auto;
        margin-top: 1%;
        height: 100%;
        width: 90%;
    }

    .posts {
        width: 50dvw;
    }
}

.subreddit {
    height: 225px;
    width: 100%;

    margin-bottom: 25px;
    border-radius: 5px;
    border-bottom: 3px var(--bg-sec) solid;

    color: var(--text-color);

    .sub_img {
        width: 100%;
        height: 60%;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: border-box;

        border-radius: 5px;
    }

    .sub_info {
        position: relative;
        display: flex;
        width: 100%;
        height: 30%;

        font-family: var(--main-font);

        .sub_text {
            position: absolute;
            left: 20px;
            display: flex;
            height: 80%;

            .sub_pfp {
                position: relative;
                border-radius: 100px;
                height: 175%;
                margin-right: 10px;
                bottom: 35px;

                border: var(--bg-color) 3.5px solid;
            }

            .sub_name {
                position: relative;
                bottom: 10px;
            }
        }

        .sub_buttons {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            height: 100%;

            .sub_button {
                transition: 0.2s;

                height: 55%;
                border-radius: 25px;
                font-family: var(--main-font);
                font-weight: bold;
                padding-left: 20px;
                padding-right: 20px;

                border: var(--text-color) 2px solid;

                cursor: pointer;
            }

            .sub_post {
                color: var(--text-color);
                background-color: transparent;
            }

            .sub_join {
                color: var(--bg-color);
                background-color: var(--text-color);
            }
        }
    }
}

.sub_sidebar {
    position: absolute;
    top: 275px;
    right: 0;
    width: 20px;
    background-color: #07080a;
    border-radius: 10px;
    width: 19dvw;
    box-sizing: border-box;
    padding: 15px;

    color: var(--neutral);
    font-family: var(--main-font);
    font-size: 0.95rem;

    .sub_tt {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .sub_sideinfo {
        margin-bottom: 10px;
        font-family: var(--main-font);

        .info_title {
            margin: 0;
            color: var(--text-color);
        }

        .info_desc {
            margin-top: 2px;
            font-size: 0.9rem;
        }

        .info_subinfo {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 0.8rem;

            .ico {
                height: 15px;
                aspect-ratio: 1/1;
                margin-right: 3px;
            }

            * {
                margin: 2px;
            }
        }

        .info_visits {
            display: flex;
            align-items: center;

            div {
                width: 50%;

                h3 {
                    font-size: 1rem;
                    margin-bottom: 3px;
                    color: var(--text-color);
                }

                p {
                    font-size: 0.75rem;
                    margin-top: 0px;
                }
            }
        }
    }

    .sub_custom {
        width: 100%;
        display: block;
        padding-top: 3px;
        padding-bottom: 8px;

        display: flex;
        align-items: center;
        flex-direction: column;

        a {
            width: 95%;
            height: 30px;
            margin-bottom: 7px;
        }

        button {
            transition: 0.2s;

            font-family: var(--main-font);
            font-weight: bold;
            font-size: 0.75rem;

            width: 100%;
            height: 100%;

            border: transparent;
            background-color: var(--bg-focus);
            color: var(--text-color);

            border-radius: 15px;

            cursor: pointer;

            &:hover {
                transition: 0.2s;

                background-color: var(--bg-active);
            }
        }
    }

    .sub_rules {
        .rule {
            transition: 0.2s;
            background-color: transparent;
            box-sizing: border-box;
            padding: 6px 10px 6px 10px;

            display: flex;

            font-family: var(--main-font);
            color: var(--neutral);
            border-radius: 5px;

            .rule_num {
                width: 15%;
                margin: 5px;
            }

            .rule_desc {
                width: 85%;
                margin: 5px;
            }

            &:hover {
                background-color: var(--bg-sec);
            }
        }
    }
}

.tag {
    color: rgb(247, 247, 247);
    background-color: white;
    border-radius: 15px;
    margin: 2px 2px 2px 2px;
    padding: 2px 8px 2px 8px;
    font-size: 0.8rem;

    cursor: pointer;
}

.post {
    min-height: 132.5px;
    width: 99%;
    margin-bottom: 20px;
    padding: 8px 14px 2px 14px;

    background-color: transparent;
    border-radius: 15px;

    border-bottom: #2C2E30 3px solid;

    position: relative;

    color: white;
    font-family: var(--main-font);

    .post_header {
        display: flex;
        align-items: center;
        gap: 5px;
        height: 35px;

        font-size: 0.9rem;

        .post_pfp {
            height: 80%;
            border-radius: 50px;
            margin-right: 5px;

            cursor: pointer;
        }

        .post_username {
            font-weight: bold;
            cursor: pointer;
        }
    }

    .post_title {
        width: 100%;
        font-size: 1.1rem;
    }

    .post_tags {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px -7px;
    }

    .post_content {
        width: 100%;
        position: relative;

        p {
            color: var(--neutral);
        }

        a {
            transition: 0.2s;
            color: var(--text-color);

            &:hover {
                transition: 0.2s;
                color: var(--brand-color);
            }
        }

        img {
            position: relative;
            width: 100%;
            border-radius: 8px;
            background-color: var(--bg-sec);
            border-style: none;
            margin-bottom: 15px;
        }
    }

    .post_footer {
        display: flex;
        gap: 10px;

        margin-bottom: 5px;

        p {
            font-size: 0.85rem;
        }

        .post_button {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
            text-align: center;
            transition: 0.2s;
            color: white;

            background-color: var(--bg-sec);
            border-radius: 15px;
            border-style: none;

            padding-left: 5px;
            padding-right: 5px;

            min-width: 1.9rem;
            min-height: 1.9rem;
            max-height: 1.5rem;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            cursor: pointer;

            &:hover {
                transition: 0.2s;
                background-color: var(--bg-focus);
            }

            &:active {
                transition: 0.1s;
                background-color: var(--bg-active);
            }
        }

        .post_votes {
            transition: 0.2s;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
            text-align: center;
            transition: 0.2s;
            color: white;

            background-color: var(--bg-sec);
            border-radius: 15px;
            border-style: none;

            min-width: 1.9rem;
            min-height: 1.9rem;
            max-height: 1.5rem;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;

            svg {
                height: 100%;
                width: 100%;
                fill: var(--neutral);
            }

            .post_vote_button {
                appearance: none;

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                transition: 0.2s;
                width: 1.9rem;
                aspect-ratio: 1/1;
                border-radius: 50px;
                border-style: none;
                background-color: transparent;
                margin: 0 0 0 0;
                cursor: pointer;

                &:hover {
                    transition: 0.2s;
                    background-color: var(--bg-active)
                }
            }

            .post_vote_upvote {
                &::before {
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg rpl='' height='16' fill='white' icon-name='upvote' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M10 19a3.966 3.966 0 01-3.96-3.962V10.98H2.838a1.731 1.731 0 01-1.605-1.073 1.734 1.734 0 01.377-1.895L9.364.254a.925.925 0 011.272 0l7.754 7.759c.498.499.646 1.242.376 1.894-.27.652-.9 1.073-1.605 1.073h-3.202v4.058A3.965 3.965 0 019.999 19H10zM2.989 9.179H7.84v5.731c0 1.13.81 2.163 1.934 2.278a2.163 2.163 0 002.386-2.15V9.179h4.851L10 2.163 2.989 9.179z'%3E %3C/path%3E %3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: auto;
                    aspect-ratio: 1/1;
                    height: 100%;
                }

                &:checked {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg rpl='' fill='white' height='16' icon-name='upvote-fill' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'%3E %3C!--?lit$479039378$--%3E%3C!--?lit$479039378$--%3E%3Cpath d='M10 19a3.966 3.966 0 01-3.96-3.962V10.98H2.838a1.731 1.731 0 01-1.605-1.073 1.734 1.734 0 01.377-1.895L9.364.254a.925.925 0 011.272 0l7.754 7.759c.498.499.646 1.242.376 1.894-.27.652-.9 1.073-1.605 1.073h-3.202v4.058A3.965 3.965 0 019.999 19H10z'%3E%3C/path%3E%3C!--?--%3E %3C/svg%3E");
                    }
                }
            }

            .post_vote_downvote {
                &::before {
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg rpl='' height='16' fill='white' icon-name='upvote' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M10 1a3.966 3.966 0 013.96 3.962V9.02h3.202c.706 0 1.335.42 1.605 1.073.27.652.122 1.396-.377 1.895l-7.754 7.759a.925.925 0 01-1.272 0l-7.754-7.76a1.734 1.734 0 01-.376-1.894c.27-.652.9-1.073 1.605-1.073h3.202V4.962A3.965 3.965 0 0110 1zm7.01 9.82h-4.85V5.09c0-1.13-.81-2.163-1.934-2.278a2.163 2.163 0 00-2.386 2.15v5.859H2.989l7.01 7.016 7.012-7.016z'%3E %3C/path%3E %3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: auto;
                    aspect-ratio: 1/1;
                    height: 100%;
                }

                &:checked {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg rpl='' fill='white' height='16' icon-name='downvote-fill' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'%3E %3C!--?lit$479039378$--%3E%3C!--?lit$479039378$--%3E%3Cpath d='M10 1a3.966 3.966 0 013.96 3.962V9.02h3.202c.706 0 1.335.42 1.605 1.073.27.652.122 1.396-.377 1.895l-7.754 7.759a.925.925 0 01-1.272 0l-7.754-7.76a1.734 1.734 0 01-.376-1.894c.27-.652.9-1.073 1.605-1.073h3.202V4.962A3.965 3.965 0 0110 1z'%3E%3C/path%3E%3C!--?--%3E %3C/svg%3E");
                    }
                }
            }

            .post_votes_count {
                padding-left: 4px;
                padding-right: 4px;
            }
        }

        .post_subbutton {
            .bt_icon {
                width: 15px;
                aspect-ratio: 1/1;
                padding-left: 5px;
                padding-right: 2.5px;
                fill: white;
            }

            p {
                padding-right: 4px;
            }
        }
    }

    &:hover {
        background-color: var(--search-focus);
    }

    &:last-child {
        margin-bottom: 100px;
    }
}